<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <CustomLevels>
        <CustomLevel name="STARTUP" intLevel="30" />
    </CustomLevels>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <BunyanJsonLayout appName="$${env:APP_NAME}">
                <ThrowableFormat format="extended" />
                <KeyValuePair key="traceId" value="$${ctx:traceId:-}"/>
            </BunyanJsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="org.springframework.cloud.sleuth.instrument.jdbc.TraceListenerStrategy" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Root level="${env:LOG_LEVEL:-INFO}" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
